@charset "utf-8";


@media all and (max-width: 1600px) {

	.sticky_btn {right: 20px;width: 380px;height: 192px;}

	.wrap_cont02 .cont_box .bg_box .bg {height: auto;}
	.wrap_cont02 .cont_box .bg .tit {padding-left: 20%;}
	.wrap_cont02 .cont_box .bg .list {padding-left: 20%;}
	.wrap_cont02 .cont_box .bg .imgbox {margin-left: 9.5%;width: 50%;}
	.wrap_cont02 .cont_box .bg .bg_img {width: 50%;}
	.wrap_cont02 .sign {padding-right: 5%;}

	.wrap_cont03 .cont_box .bg_box .bg {height: auto;}
	.wrap_cont03 .cont_box .bg .tit {padding-left: 30%;}
	.wrap_cont03 .cont_box .bg .list {padding-left: 30%;}
	.wrap_cont03 .cont_box .bg .imgbox {margin-left: 35.5%;width: 50%;}
	.wrap_cont03 .cont_box .bg .bg_img {width: 50%;}
	.wrap_cont03 .sign {padding-left: 5%;}

	.wrap_cont04 .cont_box .bg_box .bg {height: auto;}
	.wrap_cont04 .cont_box .bg .tit {padding-left: 20%;}
	.wrap_cont04 .cont_box .bg .list {padding-left: 20%;}
	.wrap_cont04 .cont_box .bg .imgbox {margin-left: 9.5%;width: 50%;}
	.wrap_cont04 .cont_box .bg .bg_img {width: 50%;}
	.wrap_cont04 .sign {padding-right: 5%;}

	.wrap_cont05 .cont_box .bg_box .bg {height: auto;}
	.wrap_cont05 .cont_box .bg .tit {padding-left: 25%;}
	.wrap_cont05 .cont_box .bg .list {padding-left: 25%;}
	.wrap_cont05 .cont_box .bg .imgbox {margin-left: 35.5%;width: 50%;}
	.wrap_cont05 .cont_box .bg .bg_img {width: 50%;}
	.wrap_cont05 .sign {padding-left: 5%;}

	.wrap_cont06 .list_box .box {padding: 30px;height: 430px;}

}

@media all and (max-width: 1400px) {

	.sticky_btn {right: 20px;width: 320px;height: 162px;}

	.wrap_visual .tb_box {padding: 0 10%;}

	.wrap_cont01 .tb_box {padding: 0 10%;}
	.wrap_cont01 .info {padding-top: 80px;}
	.wrap_cont01 .info .info_box {padding-top: 40px;}
	.wrap_cont01 .info .info_box .txt {font-size: 26px;}
	.wrap_cont01 .info .info_box .txt b {font-weight: 400;}
	.wrap_cont01 .info .info_box .txt p {font-size: 22px;}
	.wrap_cont01 .info .info_box .date {font-size: 22px;}

	.wrap_cont02 .tit02 {padding: 80px 10% 80px 10%;}
	.wrap_cont02 .cont_box .bg .tit {padding-left: 20%;}
	.wrap_cont02 .cont_box .bg .list {padding-left: 20%;}
	.wrap_cont02 .cont_box .bg .imgbox {margin-left: 11.5%;width: 45%;}

	.wrap_cont03 .cont_box .bg .tit {padding-left: 28%;}
	.wrap_cont03 .cont_box .bg .list {padding-left: 38%;}
	.wrap_cont03 .cont_box .bg .imgbox {margin-left: 38.5%;width: 45%;}

	.wrap_cont04 .cont_box .bg .tit {padding-left: 20%;}
	.wrap_cont04 .cont_box .bg .list {padding-left: 20%;}
	.wrap_cont04 .cont_box .bg .imgbox {margin-left: 11.5%;width: 45%;}

	.wrap_cont05 .cont_box .bg .tit {padding-left: 20%;}
	.wrap_cont05 .cont_box .bg .list {padding-left: 40%;}
	.wrap_cont05 .cont_box .bg .imgbox {margin-left: 38.5%;width: 45%;}

	.wrap_cont05 .tb_box {padding: 40px 0 80px 0;}

	.wrap_cont06 .tb_box {padding: 20px 10% 100px 10%;}
	.wrap_cont06 .tit {padding-top: 60px;}
	.wrap_cont06 .list_box .box .list_tit {font-size: 26px;}

}

@media all and (max-width: 1280px) {

	.wrap_cont03 .cont_box .bg .tit {padding-left: 20%;}
	.wrap_cont03 .cont_box .bg .list {padding-left: 33%;}

	.wrap_cont05 .cont_box .bg .tit {padding-left: 12%;}
	.wrap_cont05 .cont_box .bg .list {padding-left: 35%;}

}

@media all and (max-width: 1200px) {

	.wrap_cont03 .cont_box .bg .tit {padding-left: 12%;}
	.wrap_cont03 .cont_box .bg .list {padding-left: 26%;}

	.wrap_cont05 .cont_box .bg .tit {padding-left: 3%;}
	.wrap_cont05 .cont_box .bg .list {padding-left: 30%;}

	.wrap_cont06 .list_box .box {padding: 20px;}

}

@media all and (max-width: 1023px) {

	.sticky_btn {display: none;}
	.m_sticky_btn {display: block;}

	.mo {display: block;}
	.pc {display: none;}

	.wrap_visual {background-color: #f4f4f4;background-image: url(../images/mobile/m_bg_top.jpg);background-size: 100% 50%;background-repeat: no-repeat;}
	.wrap_visual .top_logo {position: absolute;top: 40px;left: 30px;width: 254px;}
	.wrap_visual .top_tit {position: absolute;top: 46px;right: 30px;width: 247px;}
	.wrap_visual .top_light {margin: 0 auto;width: 340px;height: 200px;background-image: url(../images/mobile/m_img_light.png);background-size: 100% 100%;}
	.wrap_visual .tit {padding-top: 40px;}
	.wrap_visual .tit img {max-width: 600px;}
	.wrap_visual .video_wrap {margin: 40px auto 0;}
	.wrap_visual .mtit02 {padding: 80px 0;}
	.wrap_visual .mtit02 img {max-width: 636px;}

	.wrap_visual .tb_box {display: none;}
	.wrap_visual .m_tb_box {display: block;}

	.wrap_cont01 .tb_box {padding: 0 30px;}
	.wrap_cont01 .info {padding: 80px 0;}
	.wrap_cont01 .info .info_tit img.mo {max-width: 156px;}
	.wrap_cont01 .info .info_box {padding-top: 40px;}
	.wrap_cont01 .info .info_box .step {padding-bottom: 20px;font-size: 24px;}
	.wrap_cont01 .info .info_box .txt {padding-bottom: 40px;font-size: 32px;}
	.wrap_cont01 .info .info_box .txt p {font-size: 28px;}
	.wrap_cont01 .info .info_box .date {font-size: 28px;}

	.wrap_cont02 .tb_box {padding: 30px 0;}
	.wrap_cont02 .cont_box .bg_box:before {transform: skew(-9deg);-webkit-transform: skew(-9deg);}
	.wrap_cont02 .cont_box .bg_box .bg {padding: 70px 0 0 0;background: url(../images/mobile/m_bg_sky.png) no-repeat;background-size: cover;}
	.wrap_cont02 .mtit02 {padding: 80px 30px 70px 30px;}
	.wrap_cont02 .mtit02 img {max-width: 544px;}
	.wrap_cont02 .cont_box .bg .tit {padding-left: 25%;}
	.wrap_cont02 .cont_box .bg .tit img {max-width: 443px;}
	.wrap_cont02 .cont_box .bg .list {padding-top: 40px;padding-left: 25%;}
	.wrap_cont02 .cont_box .bg .list img {max-width: 385px;}
	.wrap_cont02 .cont_box .bg .list .blink {right: -12px;bottom: 10px}
	.wrap_cont02 .cont_box .bg .list .blink img {width: 29px;height: 25px;}
	.wrap_cont02 .cont_box .bg .mimg {display: block;}
	.wrap_cont02 .cont_box .bg .mimg {padding-top: 30px;}
	.wrap_cont02 .cont_box .bg .mimg img {max-width: 597px;}

	.wrap_cont03 .tb_box {padding: 30px 0;}
	.wrap_cont03 .cont_box .bg_box .bg {padding: 70px 0 0 0;background: url(../images/mobile/m_bg_blue.png) no-repeat;background-size: cover;}
	.wrap_cont03 .cont_box .bg_box:before {transform: skew(-9deg);-webkit-transform: skew(-9deg);}
	.wrap_cont03 .cont_box .bg .tit {padding-left: 8%;}
	.wrap_cont03 .cont_box .bg .tit img {max-width: 481px;}
	.wrap_cont03 .cont_box .bg .list {padding-top: 40px;padding-left: 8%;}
	.wrap_cont03 .cont_box .bg .list img {max-width: 427px;}
	.wrap_cont03 .cont_box .bg .list .blink {right: 114px;bottom: 10px}
	.wrap_cont03 .cont_box .bg .list .blink img {width: 29px;height: 25px;}
	.wrap_cont03 .cont_box .bg .mimg {display: block;}
	.wrap_cont03 .cont_box .bg .mimg {padding-top: 30px;}
	.wrap_cont03 .cont_box .bg .mimg img {max-width: 600px;}

	.wrap_cont04 .tb_box {padding: 30px 0;}
	.wrap_cont04 .cont_box .bg_box .bg {padding: 70px 0 0 0;background: url(../images/mobile/m_bg_sky.png) no-repeat;background-size: cover;}
	.wrap_cont04 .cont_box .bg_box:before {transform: skew(-9deg);-webkit-transform: skew(-9deg);}
	.wrap_cont04 .cont_box .bg .tit {padding-left: 25%;}
	.wrap_cont04 .cont_box .bg .tit img {max-width: 545px;}
	.wrap_cont04 .cont_box .bg .list {padding-top: 20px;padding-left: 25%;}
	.wrap_cont04 .cont_box .bg .list img {max-width: 336px;}
	.wrap_cont04 .cont_box .bg .list .blink {right: 16px;bottom: 10px}
	.wrap_cont04 .cont_box .bg .list .blink img {width: 29px;height: 25px;}
	.wrap_cont04 .cont_box .bg .mimg {display: block;}
	.wrap_cont04 .cont_box .bg .mimg {padding-top: 30px;}
	.wrap_cont04 .cont_box .bg .mimg img {max-width: 600px;}

	.wrap_cont05 .tb_box {padding: 30px 0 80px 0;}
	.wrap_cont05 .cont_box .bg_box .bg {padding: 70px 0 0 0;background: url(../images/mobile/m_bg_blue.png) no-repeat;background-size: cover;}
	.wrap_cont05 .cont_box .bg_box:before {transform: skew(-9deg);-webkit-transform: skew(-9deg);}
	.wrap_cont05 .cont_box .bg .tit {padding-left: 8%;}
	.wrap_cont05 .cont_box .bg .tit img {max-width: 539px;}
	.wrap_cont05 .cont_box .bg .list {padding-top: 40px;padding-left: 8%;}
	.wrap_cont05 .cont_box .bg .list img {max-width: 493px;}
	.wrap_cont05 .cont_box .bg .list .blink {right: 294px;bottom: 10px}
	.wrap_cont05 .cont_box .bg .list .blink img {width: 25px;height: 24px;}
	.wrap_cont05 .cont_box .bg .mimg {display: block;}
	.wrap_cont05 .cont_box .bg .mimg {padding-top: 30px;}
	.wrap_cont05 .cont_box .bg .mimg img {max-width: 600px;}

	.wrap_cont06 .tb_box {display: none;}
	.wrap_cont06 .m_tb_box {display: block;padding: 0 30px 120px 30px;}
	.wrap_cont06 .m_tb_box .mtit {padding-top: 80px;}
	.wrap_cont06 .m_tb_box .mtit img {width: 477px;}
	.wrap_cont06 .cont06_slider {margin-top: 60px;height: 520px;}
	.wrap_cont06 .cont06_slider .swiper-slide .box {padding: 40px;height: 520px;}
	.wrap_cont06 .cont06_slider .swiper-slide .box .list_tit {font-size: 36px;}
	.wrap_cont06 .cont06_slider .swiper-slide .box p {font-size: 28px;}
	.wrap_cont06 .cont06_slider .slider_arrow {width: 80px;height: 80px;margin-top: -40px;right: 10px;}

	.wrap_footer .cont_box {padding: 0 30px 100px 30px;}

}

@media all and (max-width: 700px) {

	.mo {display: block;}
	.pc {display: none;}

	.wrap_visual {background-color: #f4f4f4;background-image: url(../images/mobile/m_bg_top.jpg);background-size: 100% 50%;background-repeat: no-repeat;}
	.wrap_visual .top_logo {position: absolute;top: 20px;left: 15px;width: 127px;}
	.wrap_visual .top_tit {position: absolute;top: 23px;right: 15px;width: 123.5px;}
	.wrap_visual .top_light {margin: 0 auto;width: 170px;height: 100px;background-image: url(../images/mobile/m_img_light.png);background-size: 100% 100%;}
	.wrap_visual .tit {padding-top: 20px;}
	.wrap_visual .tit img {max-width: 300px;}
	.wrap_visual .video_wrap {margin: 20px auto 0;}
	.wrap_visual .mtit02 {padding: 40px 0;}
	.wrap_visual .mtit02 img {max-width: 318px;}

	.wrap_visual .tb_box {display: none;}
	.wrap_visual .m_tb_box {display: block;}

	.wrap_cont01 .tb_box {padding: 0 15px;}
	.wrap_cont01 .info {padding: 40px 0;}
	.wrap_cont01 .info .info_tit img.mo {max-width: 78px;}
	.wrap_cont01 .info .info_box {padding-top: 20px;}
	.wrap_cont01 .info .info_box .step {padding-bottom: 10px;font-size: 12px;}
	.wrap_cont01 .info .info_box .txt {padding-bottom: 20px;font-size: 16px;}
	.wrap_cont01 .info .info_box .txt p {font-size: 14px;}
	.wrap_cont01 .info .info_box .date {font-size: 14px;}

	.wrap_cont02 .tb_box {padding: 15px 0;}
	.wrap_cont02 .cont_box .bg_box:before {transform: skew(-9deg);-webkit-transform: skew(-9deg);}
	.wrap_cont02 .cont_box .bg_box .bg {padding: 35px 0 0 0;background: url(../images/mobile/m_bg_sky.png) no-repeat;background-size: cover;}
	.wrap_cont02 .cont_box .bg .tit {padding-left: 25%;}
	.wrap_cont02 .cont_box .bg .tit img {max-width: 221.5px;}
	.wrap_cont02 .cont_box .bg .list {padding-top: 20px;padding-left: 25%;}
	.wrap_cont02 .cont_box .bg .list img {max-width: 192.5px;}
	.wrap_cont02 .cont_box .bg .list .blink {right: -6px;bottom: 5px}
	.wrap_cont02 .cont_box .bg .list .blink img {width: 14.5px;height: 12.5px;}
	.wrap_cont02 .cont_box .bg .mimg {display: block;}
	.wrap_cont02 .mtit02 {padding: 40px 15px 35px 15px;}
	.wrap_cont02 .mtit02 img {max-width: 272px;}
	.wrap_cont02 .cont_box .bg .mimg {padding-top: 30px;}
	.wrap_cont02 .cont_box .bg .mimg img {max-width: 298.5px;}

	.wrap_cont03 .tb_box {padding: 15px 0;}
	.wrap_cont03 .cont_box .bg_box .bg {padding: 35px 0 0 0;background: url(../images/mobile/m_bg_blue.png) no-repeat;background-size: cover;}
	.wrap_cont03 .cont_box .bg_box:before {transform: skew(-9deg);-webkit-transform: skew(-9deg);}
	.wrap_cont03 .cont_box .bg .tit {padding-left: 8%;}
	.wrap_cont03 .cont_box .bg .tit img {max-width: 240.5px;}
	.wrap_cont03 .cont_box .bg .list {padding-top: 20px;padding-left: 8%;}
	.wrap_cont03 .cont_box .bg .list img {max-width: 213.5px;}
	.wrap_cont03 .cont_box .bg .list .blink {right: 57px;bottom: 5px}
	.wrap_cont03 .cont_box .bg .list .blink img {width: 14.5px;height: 12.5px;}
	.wrap_cont03 .cont_box .bg .mimg {padding-top: 15px;}
	.wrap_cont03 .cont_box .bg .mimg img {max-width: 300px;}

	.wrap_cont04 .tb_box {padding: 15px 0;}
	.wrap_cont04 .cont_box .bg_box .bg {padding: 35px 0 0 0;background: url(../images/mobile/m_bg_sky.png) no-repeat;background-size: cover;}
	.wrap_cont04 .cont_box .bg_box:before {transform: skew(-9deg);-webkit-transform: skew(-9deg);}
	.wrap_cont04 .cont_box .bg .tit {padding-left: 25%;}
	.wrap_cont04 .cont_box .bg .tit img {max-width: 272.5px;}
	.wrap_cont04 .cont_box .bg .list {padding-top: 20px;padding-left: 25%;}
	.wrap_cont04 .cont_box .bg .list img {max-width: 168px;}
	.wrap_cont04 .cont_box .bg .list .blink {right: 8px;bottom: 5px}
	.wrap_cont04 .cont_box .bg .list .blink img {width: 14.5px;height: 12.5px;}
	.wrap_cont04 .cont_box .bg .mimg {padding-top: 30px;}
	.wrap_cont04 .cont_box .bg .mimg img {max-width: 300px;}

	.wrap_cont05 .tb_box {padding: 15px 0 40px 0;}
	.wrap_cont05 .cont_box .bg_box .bg {padding: 35px 0 0 0;background: url(../images/mobile/m_bg_blue.png) no-repeat;background-size: cover;}
	.wrap_cont05 .cont_box .bg_box:before {transform: skew(-9deg);-webkit-transform: skew(-9deg);}
	.wrap_cont05 .cont_box .bg .tit {padding-left: 8%;}
	.wrap_cont05 .cont_box .bg .tit img {max-width: 269.5px;}
	.wrap_cont05 .cont_box .bg .list {padding-top: 20px;padding-left: 8%;}
	.wrap_cont05 .cont_box .bg .list img {max-width: 246.5px;}
	.wrap_cont05 .cont_box .bg .list .blink {right: 147px;bottom: 5px}
	.wrap_cont05 .cont_box .bg .list .blink img {width: 14.5px;height: 12.5px;}
	.wrap_cont05 .cont_box .bg .mimg {padding-top: 30px;}
	.wrap_cont05 .cont_box .bg .mimg img {max-width: 300px;}

	.wrap_cont06 .tb_box {display: none;}
	.wrap_cont06 .m_tb_box {display: block;padding: 0 15px 60px 15px;}
	.wrap_cont06 .m_tb_box .mtit {padding-top: 40px;}
	.wrap_cont06 .m_tb_box .mtit img {width: 238.5px;}
	.wrap_cont06 .cont06_slider {margin-top: 30px;height: 260px;}
	.wrap_cont06 .cont06_slider .slider_arrow {right: 5px;margin-top: -20px;width: 40px;height: 40px;}
	.wrap_cont06 .cont06_slider .swiper-slide .box {padding: 20px;height: 260px;}
	.wrap_cont06 .cont06_slider .swiper-slide .box .list_tit {font-size: 18px;}
	.wrap_cont06 .cont06_slider .swiper-slide .box p {padding-top: 15px;font-size: 14px;}

	.wrap_footer {height: 350px;}
	.wrap_footer .cont_box {padding: 0 15px 100px 15px;}
	.wrap_footer .logo .m_f_logo {display: block;}
	.wrap_footer .logo .f_logo {display: none;}
	.wrap_footer .add {padding: 15px 0 0 0;font-size: 12px;line-height: 1.5;}
	.wrap_footer .add br {display: block;}
	.wrap_footer .copyright {padding-top: 15px;font-size: 12px;}

}
